#posts,
#posts td,
#posts h2 {
    font-size: 1.2rem;
    font-family: "Malgun Gothic", "AppleGothic", "Gulim", "Dotum", serif;
}

#posts table {
    width: 100%;
}

#posts table tr,
#posts table td {
    margin: 0;
    padding: 0;
}


#posts thead th {
    font-weight: normal;
    font-size: 1rem;
    text-align:center;
}

#posts .title {
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
}
#posts .title h2 {
    margin: 0;
    padding: 0;
}
#posts .title a {
    display: block;
}

#posts tbody tr:nth-child(even) {
    background-color: #a9a9a9;
}


#posts .author,
#posts .date,
#posts .no-of-view {
    display:none;
}

#posts .author {
    min-width: 5em;
    text-align:left;
}
#posts .date {
    min-width: 5em;
    text-align: center;
}
#posts .no-of-view {
    min-width: 4em;
    text-align: right;
    padding-right: 1em;
    box-sizing: border-box;
}

@media all and ( min-width: 33.9em ) {
    #posts .author {
        display: table-cell;
    }
}
@media all and ( min-width: 47.9em ) {
    #posts .date,
    #posts .no-of-view {
        display: table-cell;
    }
}


/** post new */

#post-new {
    /* display: none; */
}

.post-new-button {
    cursor: pointer;
}

/* Post file upload button */

.file-upload {
    position: relative;
    width: 200px;
    height: 32px;
    overflow: hidden;
    background-color: #e9e9e9;
}
.file-upload .dashicons-camera:before {
    font-size: 2em;
}
.file-upload .text {
    padding: 1em;
    font-size: 1.2em;
}
.file-upload input {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 200px;
    height: 32px;
    font-size: 2em;
}


#post-new .loader {
    display: none;
}


#post-new .photos {
    overflow: auto;
    overflow-x: hidden;
    overflow-y: hidden;
}
.photos .attach {
    position: relative;
    float: left;
    width: 100px;
    height: 100px;
}

.photos .attach img {
    width: 100%;
    height: auto;
}
.photos .attach .delete {
    position: absolute;
    z-index: 3;
    padding: 6px;
    box-sizing: border-box;
    left: 0;
    bottom: 0;
    width: inherit;
    background-color: aliceblue;
}

.photos .attach:nth-child(even) .delete {
    background-color: #7ba8bf;
}



#post-new .files {

}

.files .attach .delete {
    padding-left: 2em;
}
.attach .delete .dashicons-trash {
    font-size: 1.5em;
}


